.modal-content{
    margin-top: 10%;
    background-color: rgb(80, 80, 80);
    border-radius: 10px!important;
}

.containerModal{
    background-color: rgb(80, 80, 80);
}

.titulo{
    color: #eee;
}

.close{
    text-align: right;
    border-width: 0;
    background-color: rgb(80, 80, 80);
    color: white;
}

.fade.modal.show{
    background-color: transparent;
}

.modal-header{
    border-width: 0;
}

.botaoAtualizar {
    padding: 5px;
    color: #fff ;
    border: 0;
    border-radius: 5px;
}
