.modal-content{
    margin-top: 10%;
    background-color: #3b3b3b;
    border-radius: 10px!important;
}

.containerModal{
    background-color: #3b3b3b;
    border-radius: 10px;
}

.close{
    text-align: right;
    border-width: 0;
    background-color:  #3b3b3b;
    color: white;
    margin-right: 10px;
    border-radius: 10px;
}

.informacoesAlteradas{
    color: #eee;
    margin-top: 10px;
}

.modalFooter{
    justify-content: space-around;
    display: flex;
}

.modal-footer{
    display: block;
}

.botoesModal{
    padding: 5px;
    transition: transform 0.1s linear;
    color: #fff ;
    border: 0;
    border-radius: 5px;

}

.botoesModal:hover{
    transform: scale(1.11);
}

.fade.modal.show{
    background-color: transparent;
}

.modal-header{
    border-width: 0;
}

